/* css for the navbar */
header {
    height: 72px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;

    background: rgba(255, 255, 255, 0.4);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
width: 100%;
  }

header + * {
    padding-top: 72px;
}

header * {
  font-weight: 400;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ol, ul {
    list-style: none;
}
header nav ul li {
    display: inline-block;
    padding: 0 8px;
    vertical-align: middle;
}
header nav ul li a:hover, a:focus, a:active {
    color: #999;
    text-decoration: none;
}
header nav ul li a {
    font-family: "Roboto",sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
header nav ul li a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
}
header nav ul li a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

header nav ul li a.active::before{
    transform-origin: left top;
    transform: scale(1, 1);
}

header nav ul li a.active::before, a:active::before {
    background-color: #000;
}
header nav ul li a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}